{% extends "base.html" %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center" >
        <div class="m-3">
            <table id="customers">
                <tr>
                    <th colspan="7">{{publicador}}</th>
                </tr>
                <tr>
                    <th>{{año}}</th>
                    <th>Pub</th>
                    <th>Videos</th>
                    <th>Horas</th>
                    <th>Revisitas</th>
                    <th>Estudios</th>
                    <th>Notas</th>

                </tr>

                {% for c in informe %}

                <tr>
                    <td>{{c.mes}}</td>
                    <td>{{c.publicaciones}}</td>
                    <td>{{c.videos}}</td>
                    <td>{{c.horas}}</td>
                    <td>{{c.revisitas}}</td>
                    <td>{{c.estudios}}</td>
                    {% if c.notas != NULL %}
                    <td>{{c.notas}}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>

                {% endfor %}

            </table>
        
        </div>
    </div>
</div>


{% endblock %}