{% extends "base.html" %}

{% block contenido %}   
    <div class="container">
        
        <div class="grid-cabecera">{{datos.titulo}}</div>
        
        
        <div class="contenedor-grid">
            
            <div class="grid-tarjetas">
                <div class="grid-header">{{datos.año1}}</div>
                <div class="grid-header">Pub</div>
                <div class="grid-header">Videos</div>
                <div class="grid-header">Horas</div>
                <div class="grid-header">Revisitas</div>
                <div class="grid-header">Estudios</div>
                <div class="grid-header">Informan</div>
                               
                {% for clave, valor in totales1.items %}

                <div>{{clave}}</div>
                <div>{{valor.publicaciones__sum}}</div>
                <div>{{valor.videos__sum}}</div>
                <div>{{valor.horas__sum}}</div>
                <div>{{valor.revisitas__sum}}</div>
                <div>{{valor.estudios__sum}}</div>
                <div>{{valor.id__count}}</div>

                {% endfor %}
                           
            </div>

            <div class="grid-tarjetas">
                <div>{{datos.año2}}</div>
                <div>Pub</div>
                <div>Videos</div>
                <div>Horas</div>
                <div>Revisitas</div>
                <div>Estudios</div>
                <div>Informan</div>
                               
                {% for clave, valor in totales2.items %}

                <div>{{clave}}</div>
                <div>{{valor.publicaciones__sum}}</div>
                <div>{{valor.videos__sum}}</div>
                <div>{{valor.horas__sum}}</div>
                <div>{{valor.revisitas__sum}}</div>
                <div>{{valor.estudios__sum}}</div>
                <div>{{valor.id__count}}</div>

                {% endfor %}
                           
            </div>

        </div>
    </div>

    {% endblock %}

