{% extends "base.html" %}

{% block contenido %}   
    <div class="container">
        <h4>Publicadores irregulares: {{cantidad}}</h4>
        
        <table  class="table table-striped table-bordered" style="width:50%">
            <thead align="justify">
                <tr>
                    <th style="width: 70%;">Nombre</th>
                    <th style="width: 10%;">Año</th>
                    <th style="width: 20%;">Mes</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for i in irregulares %}
                        <tr class="small">
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% endblock %}

