{% extends "base.html" %}

{% block contenido %}   
    <div class="container">
        <h4>Publicadores inactivos</h4>
        <table  class="table table-striped table-bordered" style="width:50%">
            <thead align="justify">
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for publicador in object_list %}
                <tr>
                    <td>{{publicador.nombre}}</td>
                    <td><a href="{% url 'tarjeta_inactivo' publicador.id %}" class="btn btn-primary">Tarjeta</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}

