{% extends "base.html" %}

{% block contenido %}   
    <div class="container">
        
        <table  class="table table-striped table-bordered" style="width:100%">
            <thead align="justify">
                <tr>
                    <th>{{ titulo }}{{cantidad}}</th>
                    
                </tr>
            </thead>
            <tbody>
                {% if estado == "Activo" %}
                    {% for publicador in publicador %}
                    <tr>
                        <td class="small"><a href="{% url 'tarjeta_activo' publicador.id %}">{{publicador.nombre}}</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    {% for publicador in publicador %}
                    <tr>
                        <td class="small"><a href="{% url 'tarjeta_inactivo' publicador.id %}">{{publicador.nombre}}</a></td>
                    </tr>
                    {% endfor %}

                {% endif %}
            </tbody>
        </table>
    </div>
    {% endblock %}

