
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  width: 200px;
  margin: 10px;
  text-align: center;
}


  /*********** listas ******************************/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #f1f1f1;
    border: 1px solid #555;
    
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a.active {
    background-color: #E36600;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  /***********  tablas  ****************/ 

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  
    font-size: small;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #E36600;
    color: white;
  }

/***********  GRID  ****************/ 
  .contenedor-grid {
   
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center; /* Alinea los elementos en el centro horizontal */
    
}

/***********  GRID - TARJETAS  ****************/ 

.grid-header {
  background-color: #E36600; 
  color: white; 
}

.grid-tarjetas {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Define 3 columnas con el mismo ancho */
  grid-gap: 1px; /* Espacio entre las celdas */
  
  padding: 5px;
  background-color: #f1f1f1;
}

.grid-tarjetas > div {
 
  padding: 5px;
  text-align: center;
  font-size: 10px;
}

/***********  GRID - ESTADISTICAS  ****************/ 
.grid-container {
  display: grid;
  gap: 5px;
  background-color: #2196F3;
  padding: 5px;
 
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
}