{% extends "base.html" %}

{% block contenido %}   
    
<div class="container">
    <div class="row">
        
        <div class="col-md-3">
          <div class="card" style="width: 100%; margin: 5px 5px;">
          
            <div class="card-footer text-center">
              <h4 class="card-title">Año</h4>
            </div>
            <div class="card-body" style="text-align: center ;">
                
                  {% if pub == "pub" %}
                    {% for a in años %}
                    <li><a href="{% url 'lista_por_año' a.año 'pub' %}" > {{ a.año }}</a></li> 
                    {% endfor %}
                  {% endif %}
                  {% if aux == "aux" %}
                    {% for a in años %}
                    <li><a href="{% url 'lista_por_año' a.año 'aux' %}" > {{ a.año }}</a></li>
                    {% endfor %}
                  {% endif %}
                  {% if reg == "reg" %}
                    {% for a in años %}
                    <li><a href="{% url 'lista_por_año' a.año 'reg' %}" > {{ a.año }}</a></li>
                    {% endfor %}
                  {% endif %}
                  
                
            </div>

            
          
          </div>

        </div>

               

    </div>
  </div>         
    
{% endblock %}
