{% extends "base.html" %}

{% block contenido %}   

    
    <div class="container">
        <h4>{{titulo}}</h4>
        
        
        <table  class="table table-striped table-bordered" style="width:50%">
                 
            <thead align="justify">
                <tr>
                    <th>Año: {{anio}}</th>
                    <th>Publicaciones</th>
                    <th>Videos</th>
                    <th>Horas</th>
                    <th>Revisitas</th>
                    <th>Estudios</th>
                    <th>Informan</th>
                </tr>
            </thead>
            <tbody>
                {% for asistencia in años %}
                
                <tr>
                    <td>{{asistencia.mes}}</td>
                    <td>{{asistencia.publicaciones}}</td>
                    <td>{{asistencia.videos}}</td>
                    <td>{{asistencia.horas}}</td>
                    <td>{{asistencia.revisitas}}</td>
                    <td>{{asistencia.estudios}}</td>
                    <td>{{asistencia.informan}}</td>
                                   
                </tr>
                
                {% endfor %}
            </tbody>
                        
        </table>
        <table  class="table table-striped table-bordered" style="width:50%">
            <thead align="justify">
                <tr>
                    <th>
                        <b>Promedio de horas mensual:</b>

                    </th>
                    <th>
                        <b>{{ promedio.horas__avg|floatformat:"0" }}</b>

                    </th>
                    <th>
                        {% if pub == "pub" %}
                        <a href="{% url 'tot_pub_pdf' anio %}" class="btn btn-danger">PDF</a>
                        {% endif %}
                        {% if aux == "aux" %}
                         <a href="{% url 'tot_aux_pdf' anio %}" class="btn btn-danger">PDF</a>
                        {% endif %}
                        {% if reg == "reg" %}
                         <a href="{% url 'tot_reg_pdf' anio %}" class="btn btn-danger">PDF</a>
                        {% endif %}

                    </th>
                </tr>
            </thead>
        
        </table>
        
        
    </div>
    

    {% endblock %}

