{% extends "base.html" %}
{% block contenido %}

<div class="container mt-5">
    <h5 class="fw-bold">
        📋 Publicadores sin informe {{ mes_consulta }}/{{ anio_servicio }}
    </h5>

    <div class="card shadow-lg mt-3">
        <div class="card-body">
            {% if publicadores %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover align-middle text-center">
                        <thead class="table-dark">
                            <tr>
                                
                                <th>Publicadores - Grupo {{grupo}}</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in publicadores %}
                            <tr>
                                
                                <td>{{ p.apellido}} {{ p.nombre}}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-success">✅ Todos los publicadores presentaron su informe.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
