{% extends "base.html" %}

{% load static %}

{% block contenido %}


  <div class="container">

   
    <div class="row">

      
       
        <div class="col-md-3">
          <div class="card" style="width: 80%; margin: 5px 5px;">
          
            <div class="card-footer text-center" style="background: rgb(231, 144, 13);">
              <h4 class="card-title">Asistencia</h4>
            </div>
            <div class="card-body" style="text-align: center ;">
                           
              <a href="{% url 'asistencia' 'entre' %}" >Entre Semana</a>
              <h1> </h1>
              <a href="{% url 'asistencia' 'fin' %}" >Fin de Semana</a>
            </div>

                      
          </div>

        </div>

        <div class="col-md-3">
          <div class="card" style="width: 80%; margin: 5px 5px;">
          
            <div class="card-footer text-center" style="background: rgb(231, 144, 13);">
              <h4 class="card-title">Totales</h4>
            </div>
            <div class="card-body" style="text-align: center ;">
                           
              
              <a href="{% url 'totales' 'pub' %}" >Publicadores</a>
              <h1> </h1>
              
              <a href="{% url 'totales' 'aux' %}" >Auxiliares</a>
              <h1> </h1>
              
              <a href="{% url 'totales' 'reg' %}" >Regulares</a>
            </div>

                      
          </div>

        </div>

        <div class="col-md-3">
          <div class="card" style="width: 80%; margin: 5px 5px;">
          
            <div class="card-footer text-center" style="background: rgb(231, 144, 13);">
              <h4 class="card-title">Publicadores</h4>
            </div>
            <div class="card-body" style="text-align: center ;">
                           
              <a href="{% url 'publicador' 'activo' %}" >Activos</a>
              <h1> </h1>
              <a href="{% url 'publicador' 'inactivo' %}" >Inactivos</a>
              <h1> </h1>
              <a href="{% url 'irregulares-list' %}" >Irregulares</a>
              <h1> </h1>
              <a href="{% url 'grupos' %}" >Grupos</a>
            </div>
          </div>

        </div>

        <div class="col-md-3">
          <div class="card" style="width: 80%; margin: 5px 5px;">
          
            <div class="card-footer text-center" style="background: rgb(231, 144, 13);">
              <h4 class="card-title">Listados</h4>
            </div>
            <div class="card-body" style="text-align: center ;">
              
              <a href="{% url 'precursores' %}" >Precursores</a>
              <h1> </h1>
              <a href="{% url 'inactivos' %}" >Inactivos</a>
          
            </div>

                      
          </div>

        </div>
      
        

    </div>
    
  </div>

{% endblock %}