{% extends "base.html" %}

{% load static %}

{% block contenido %}

<div class="container">

  <div class="row">
    
      <div class="div-margen">
        <ul>
          <li><a class="active" href="#home">Asistencia</a></li>
          <li><a href="{% url 'asistencia' 'entre' %}">Entre semana</a></li>
          <li><a href="{% url 'asistencia' 'fin' %}">Fin de semana</a></li>
        </ul>
      </div>
    
      <div class="div-margen">
        <ul>
          <li><a class="active" href="#home">Totales</a></li>
          <li><a href="{% url 'totales' 'Publicador' %}">Publicadores</a></li>
          <li><a href="{% url 'totales' 'Auxiliar' %}">Auxiliares</a></li>
          <li><a href="{% url 'totales' 'Regular' %}">Regulares</a></li>
        </ul>
      </div>
    
      <div class="div-margen">
        <ul>
          <li><a class="active" href="#home">Publicadores</a></li>
          <li><a href="{% url 'publicador' 'Activo' %}">Activos</a></li>
          <li><a href="{% url 'publicador' 'Inactivo' %}">Inactivos</a></li>
          <li><a href="{% url 'irregulares-list' %}">Irregulares</a></li>
          <li><a href="">Estadísticas</a></li>
        </ul>
      </div>
    
      <div class="div-margen">
        <ul>
          <li><a class="active" href="#home">Tarjetas por grupo</a></li>
          {% for i in grupos %}
          <li><a href="{% url 'tarjeta_grupo' i %}"> Grupo {{ i }}</a></li>
          {% endfor %}
          <li><a href="{% url 'precursores' %}">Precursores</a></li>
          <li><a href="{% url 'inactivos' %}">Inactivos</a></li>
    
        </ul>
      </div>

      <div class="div-margen">
        <ul>
          <li><a class="active" href="#home">Otros documentos</a></li>
          <li><a href="{% url 'grupos' %}">Lista de grupos</a></li>
          <li><a href="{% url 'grupos' %}">Lista de contactos</a></li>
        </ul>
      </div>
    
  </div>

</div>



{% endblock %}