{% extends "base0.html" %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="m-3">
        <table id="customers" style="width: 300px;">

            <tr>
                <th>IRREGULARES: {{cantidad}}</th>
                <th>Año</th>
                <th>Mes</th>
            </tr>

            {% for i in irregulares %}

            <tr>
                <td>{{i.0}}</td>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}