{% extends "base.html" %}

{% block contenido %}

<div class="row justify-content-center">

    <div class="m-3">

        <table id="customers" style="width: 300px;">
            <tr>
                <th>Publicador</th>
                <th>Teléfono</th>

            </tr>
            {% for c in telefonos %}
            <tr>

                <td>{{c.apellido}} {{c.nombre}}</td>
                <td>{{c.telefono}}</td>

            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}