{% extends "base.html" %}

{% block contenido %}   
    
<div class="container">
    <div class="row">
        
        <div class="col-md-3">
          <div class="card" style="width: 100%; margin: 5px 5px;">
          
            <div class="card-footer text-center">
              <h4 class="card-title">Año</h4>
            </div>
            <div class="card-body" style="text-align: center ;">
                {% for a in años %}
                <li><a href="{% url 'Entre_Semana_por_año' a.año %}" > {{ a.año }}</a></li>           
                {% endfor %}
            </div>

            
          
          </div>

        </div>

               

    </div>
  </div>         
    
{% endblock %}
